APP_ENV=dev
APP_SECRET=

DATABASE_URL="postgresql://devuser:97y2amDpm@pg-skeleton:5432/skeletonbr?serverVersion=15&charset=utf8"

MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$ '
###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=
###< lexik/jwt-authentication-bundle ###

###> symfony/mailer ###
MAILER_DSN=
###< symfony/mailer ###

###> symfony/google-mailer ###
# Gmail SHOULD NOT be used on production, use it in development only.
# MAILER_DSN=gmail://USERNAME:PASSWORD@default
###< symfony/google-mailer ###

REDIS_URL=redis://redis-skeleton:6379

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=/
###> symfony/messenger ###
# Choose one of the transports below
MESSENGER_TRANSPORT_DSN=
###< symfony/messenger ###

LOGSTASH_HOST=
LOGSTASH_PORT=
