<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Подтверждение регистрации</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333333;
            text-align: center;
        }
        p {
            color: #555555;
            line-height: 1.6;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 20px 0;
            background-color: #007bff;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
        }
        .footer {
            margin-top: 20px;
            text-align: center;
            color: #888888;
            font-size: 0.9em;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Подтверждение регистрации</h1>
    <p>Здравствуйте!</p>
    <p>Благодарим вас за регистрацию на нашем сайте. Для завершения регистрации, пожалуйста, подтвердите ваш email, нажав на кнопку ниже:</p>
    <p>
        <a href="{{ signedUrl|raw }}" class="button">Подтвердить Email</a>
    </p>
    <p>Если вы не регистрировались на нашем сайте, просто проигнорируйте это письмо.</p>
</div>
</body>
</html>